/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.card{
    margin: 20px;
    border-radius: 15px;
}
h2{
    text-align: center;
    padding: 10px;
    font-style: italic;
}
