:root{/*Variables para los colores*/
    --color-principal:#212529;
    --color-secundario:#a4a5a6;
    --color-boton:#0095DA;
    --texto-boton:#fff;
}
body{
    height: 100vh;
}

@media(min-width:768px){
    
}

@media(min-width:992px){
    
}
