/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#imagenPizzaTime {/*Seleccionar un orden para los elementos en distintos tamaños*/
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
}

#cartaPizza {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.carruselKebab{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
h4+p{/*Todos los adyacentes de h4*/
    font-style: italic;
}
@media (min-width: 768px) {/*Seleccionar un orden para los elementos en distintos tamaños*/
    /* Breakpoint para dispositivos medianos */
    #imagenPizzaTime {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    #cartaPizza {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }
}

@media (min-width: 992px) {/*Seleccionar un orden para los elementos en distintos tamaños*/
    /* Breakpoint para dispositivos grandes */
    #imagenPizzaTime {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    #cartaPizza {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }
    .carruselKebab{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}
